<h1><%= @title %></h1>
<ul>
<h2>Todo:</h2> 
<li>1. Request Invite Form </li>
<li>2. Description</li>
<li>3. Login Form</li>
<li>4. Title</li>
<li>5. Navigation Links</li>
</ul>
<% unless user_signed_in? %>
  <%= link_to 'Sign In', new_user_session_path %>
<% else %>
	<%= link_to 'New funding page', new_funding_page_path %>
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% end %>